<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="./css/icons-extra.css" />
    <style type="text/css">
        body,.mui-content{
            background-color: #fff;
        }
        .mui-content{
           padding:0 15px;
        }
        .title {
            font-size: 17px;
            font-weight: 500;
            line-height: 44px;
            display: block;
            width: 100%;
            margin: 0 -10px;
            padding: 0;
            text-align: center;
            white-space: nowrap;
            color: #000;}
    </style>
</head>
<body>
<div class="mui-content">
    <p class="title">活动介绍</p>
    <p>冬天到了，是不是很无聊？让我们来搞事情吧！</p>
    <p>拿出自己最得意妆容，来拿新年礼物吧！</p>
    <p>没错，这就是一个送礼活动，啦啦啦，你信不信</p>
    <p>冬天到了，是不是很无聊？让我们来搞事情吧！</p>
    <p>奖品设置</p>
    <p>一等奖：大苹果一个</p>
    <p>二等奖：大苹果一个</p>
    <p>三等奖：大苹果一个</p>
    <p>没错，这就是一个送礼活动，啦啦啦，你信不信</p>

</div>
</body>
</html>